<!-- CONTACT LIST -->
<h2>Contact List</h2>

<!-- display list -->
<ul class="contacts">
    <li *ngFor="let contact of contacts">
        <a routerLink="/contact/{{contact.id}}">
            <span class="badge">{{contact.id}}</span>{{contact.name}}
        </a>
        <!-- delete button -->
        <button type="button" class="delete" title="delete contact" 
        (click)="delete(contact)">x</button>
    </li>
</ul>

<!-- add item -->
<div>
    <label for="new-contact">Name: </label>
    <input id="new-contact" #contactName />
    <button type="button" class="add-button" (click)="add(contactName.value); contactName.value=''">
        Add Contact
    </button>
</div>

<app-contact-details [contact]="selectedContact"></app-contact-details>
