/* MessagesComponent's private CSS styles */
h2 {
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: .5%;
  }

  hr {
    margin-bottom: 5%;
  }
  
  .clear {
    color: gray;
    background-color: #D4E157;
    margin-bottom: 0%;
    padding: 2%;
    border-radius: 10px;
    font-size: 1rem;
  }
  .clear:hover {
    color: white;
    background-color: rgb(67, 67, 67);
  }

  .messages {
    width: 49%;
    background-color: #7e57c2;
  }