
<!-- TOOLBAR -->
<mat-toolbar color="primary" class="toolbar">
    <!-- nav button -->
    <span>
        <button mat-mini-fab color="accent">
            <mat-icon>menu</mat-icon>
        </button>
    </span>
    <!-- title -->
    <span class="title">{{title}}</span>
    <!-- spacer -->
    <span class="spacer"></span>
    <!-- subtitle content -->
        <p class="header">Build a Contact List</p>
    <!-- sub-logo -->
        <button mat-mini-fab color="accent">
            <mat-icon>build</mat-icon>
        </button>
</mat-toolbar>


<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/contacts">Contacts</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>