/* AppComponent's private CSS styles */
mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 900;

  >.mat-mini-fab {
    margin-right: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .title {
    vertical-align: middle;
    font-size: x-large;
  }
}

p.header {
  color: #D4E157;
  margin-right: 1%;
}

.sidenav-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  flex: 1;
}

mat-sidenav {
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  width: 200px;
  padding-top: 10px;
}

.main {
    height: 100%;
   
    margin-left: 2%;
}

.nav-link {
  color: rgba(0, 0, 0, 0.54);
  display: block !important;
  align-items: left;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  margin-left: 5%;
  font-size: larger;

  &.active {
    color: #7E57C2 !important;
  }
}


  
